parameters:
	ignoreErrors:
		-
			message: '#^Call to static method getHashedUserID\(\) on an unknown class SimpleSAML\\Module\\consent\\Auth\\Process\\Consent\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/Admin.php

		-
			message: '#^Call to static method parseStoreConfig\(\) on an unknown class SimpleSAML\\Module\\consent\\Store\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/Admin.php

		-
			message: '#^Call to static method parseStoreConfig\(\) on an unknown class SimpleSAML\\Module\\consent\\Store\.$#'
			identifier: class.notFound
			count: 1
			path: src/Controller/Stats.php
