{% set pagetitle = '{consentSimpleAdmin:consentsimpleadmin:headerstats}'|trans %}
{% extends "base.twig" %}

{% block content %}
{% endblock %}
<p>
    <p>{{ stattotal }} }}</p>
    <p>{{ statusers }} }}</p>
    <p>{{ statservices }} }}</p>
</p>
