{% set pagetitle = 'Consent Storage Statistics'|trans %}
{% extends "base.twig" %}

{% block content %}
<p>
    <p>{{ 'Consent storage contains %NO% entries.'|trans({'%NO%': stats.total }) }}</p>
    <p>{{ '%NO% unique users have given consent.'|trans({'%NO': stats.users }) }}</p>
    <p>{{ 'Consent is given to %NO% unique services.'|trans({'%NO': stats.services }) }}</p>
</p>
{% endblock %}
