{% set pagetitle = 'Consent Storage Statistics'|trans %}
{% extends "base.twig" %}

{% block content %}
<p>
    <p>{{ stattotal }} }}</p>
    <p>{{ statusers }} }}</p>
    <p>{{ statservices }} }}</p>
</p>
{% endblock %}
